header {
    background-color: #333; 
    padding: 10px; 
    display: flex;
    align-items: center; 
    justify-content: space-between;
  }
header h2{
    margin: 0 10px;
    color: white;
    font-size: 20px;
    
  }
  a ,button{
    text-decoration: none; 
    color: #fff; 
    margin: 0 10px; 
    font-weight: bold; 
    background-color: transparent;
    border: none;
    font-size: 20px;
  }
  
  a:hover,button:hover {
    text-decoration: underline; 
    cursor: pointer;
  }
  button:hover{
    text-decoration: none;
  }
  